/* The body has a default margin. Remove it via: */

html, body {
    margin:0;
    padding:0;
}

body {
    font-family: 'Roboto', sans-serif;
}
.first-container, .second-container, .third-container, .fourth-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  box-sizing: border-box;
  padding: 1rem 8rem;

}
.header {
  display: flex;
  justify-content: space-between;
}
.header ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
}
.header a, .left-hero p {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}
.first-container, .footer {
    background-color: #1F2937;
}
.tank p {
    color: #56606d;
    font-size: 18px;
}
.tank img {
    width: 150px;
    height: auto;
    border-radius: 15px;
    border: solid 3px #3882F6;
}

.third-container {
    background-color: #E5E7EB;
}
.left-hero h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}
.header img {
    width: auto;
    height: 50px;
}
.second-header h2 {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.right-hero img {
    width: 400px;
    height: 200px;
}
.header h3 {
    font-size: 24px;
    color: #F9FAF8;
    margin: 0px;
}

.quote-block p {
    font-style: italic;
    font-weight: 300;
    font-size: 36px;
    color: #1F2937;
}

.signature h1 {
    font-size: 24px;
    color: #1F2937;
}

.left-hero button, .blue-notice button {
    background-color: #3882F6;
    border: none;
    border-radius: 5px;
    padding: 5px 20px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
  }

  .left-hero button a, .blue-notice button a {
    text-decoration: none;
    color: #F9FAF8;
  }
/* CHANGING LINK A COLOR WITH BUTTON BG ON HOVER */
  .left-hero button:hover {
    background-color: #F9FAF8;
  }

  .left-hero button:hover a {
    color: #3882F6;
  }
/* SOURCE: https://stackoverflow.com/questions/71356198/how-to-change-the-background-of-a-button-with-a-link-on-hover */

  .blue-notice button {
    border: solid 1px #F9FAF8;
  }

  .blue-notice button a {
    text-decoration: none;
    color: #F9FAF8;
  }
/* CHANGING LINK A COLOR WITH BUTTON BG ON HOVER */
  .blue-notice button:hover {
    background: #F9FAF8;
    color: #3882F6;
  }

  .blue-notice button:hover a {
    color: #3882F6;
  }
/* SOURCE: https://stackoverflow.com/questions/71356198/how-to-change-the-background-of-a-button-with-a-link-on-hover */
  .blue-notice {
    background-color: #3882F6;
    border-radius: 5px;
  }

.blue-notice h1 {
    font-size: 24px;
    color: #F9FAF8;
 }

 .blue-notice p, .footer p {
    color: #E5E7EB;
    font-size: 16px;
 }