/* The body has a default margin. Remove it via: */
html, body {
    margin: 0;
    padding: 0;
}
/* ALL DIVS GIVEN BORDER-BOX to avoid redundancy in code and to make formatting consistent when adding padding! */
div {
  box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}
.first-container, .second-container, .third-container, .fourth-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0rem 10rem;
  flex-wrap: wrap;
}
.both-heroes {
  display: flex;
  flex-direction: row;
  padding: 90px 0px 120px 0px;
  flex-wrap: wrap; 
  justify-content: center;
}
.header {
  display: flex;
  justify-content: space-between;
  gap: 25px;
  padding: 16px 0px;
}
.header ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
}
.left-hero {
  display: flex;
  flex-direction: column;
  /* TIP! Justify content is used to vertically align in this case since flex direction is column. */
  justify-content: center;
  padding-right: 70px;
  max-width: 493px;
}
.right-hero {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

}
.header a, .left-hero p {
    font-size: 18px;
    color: #c0c2c6;
    text-decoration: none;
}
.left-hero p {
  margin-top: 0px;
}
.first-container, .footer {
    background-color: #1F2937;
}
.second-header {
  display: flex;
  justify-content: center;
}
.second-container {
  padding: 10px 0px 110px 0px;
}
.third-container {
  background-color: #E5E7EB;
  padding: 110px 15rem;
}
.fourth-container {
  margin: 100px 0px;
}
.all-tanks {
  display: flex;
  gap: 50px;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 10px;
}
.tank {
  display: flex;
  flex-direction: column;
  /* remember that when flex-firection is column, align-items is the left-right horizontal centering! */
  align-items: center;
  width: 180px;
  text-align: center;
}
.tank p {
    color: #56606d;
    font-size: 18px;
    margin: 5px;
}
.tank img {
    width: 180px;
    height: auto;
    border-radius: 15px;
    border: solid 3px #3882F6;
}

.left-hero h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    margin: 0px;
}
.header img {
    width: auto;
    height: 50px;
}
.second-header h2 {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.right-hero img {
    width: 450px;
    height: 225px;
}
.header h3 {
    font-size: 24px;
    color: #F9FAF8;
    margin: 0px;
    flex: none;
}

.quote-block p {
    font-style: italic;
    font-weight: 300;
    font-size: 36px;
    color: #1F2937;
    /* padding: 0px 110px; */
    margin: 0px;
}
.signature {
  display: flex;
  justify-content: flex-end;
  padding-right: 32px;

}
.signature h1 {
    font-size: 24px;
    color: #1F2937;
    margin: 0px;
}
/* .left-hero button {
  flex: none;
} */

.left-hero button, .blue-notice button {
    background-color: #3882F6;
    border: none;
    border-radius: 6px;
    padding: 7px 22px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    width: 113px;
  }

  .left-hero button a, .blue-notice button a {
    text-decoration: none;
    color: #F9FAF8;
  }
/* CHANGING LINK A COLOR WITH BUTTON BG ON HOVER */
  .left-hero button:hover {
    background-color: #F9FAF8;
  }

  .left-hero button:hover a {
    color: #3882F6;
  }
/* SOURCE: https://stackoverflow.com/questions/71356198/how-to-change-the-background-of-a-button-with-a-link-on-hover */

  .blue-notice button {
    border: solid 1px #F9FAF8;
  }

  .blue-notice button a {
    text-decoration: none;
    color: #F9FAF8;
  }
/* CHANGING LINK A COLOR WITH BUTTON BG ON HOVER */
  .blue-notice button:hover {
    background: #F9FAF8;
    color: #3882F6;
  }

  .blue-notice button:hover a {
    color: #3882F6;
  }
/* SOURCE: https://stackoverflow.com/questions/71356198/how-to-change-the-background-of-a-button-with-a-link-on-hover */
  .blue-notice {
    background-color: #3882F6;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 45px 110px;
  }

.blue-notice h1 {
    font-size: 24px;
    color: #F9FAF8;
    margin: 0px;
 }

 .blue-notice p, .footer p {
    color: #c0c2c6;
    font-size: 16px;
    margin: 0px;
 }

 .footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px 0px;
 }